p Hi #{user.username} !
p #{client.name} is requesting full access to your account.
p Do you approve?

form(action='/api/oauth2/authorize', method='post')
    input(name='transaction_id', type='hidden', value='#{transactionID}')
    div
        input(id='allow', type='submit', value='Allow')
        input(id='deny', type='submit', value='Deny', name='cancel')